html{
	box-sizing:border-box;
}

body { 
	  background: url("../images/veggies.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  box-sizing: border-box;
	  overflow: hidden;
	  background-repeat: no-repeat;

}

.container {
	margin: 10px auto;
	max-width: 70%;
	min-width: 300px;
	text-align: center;
	border: black 2px solid;
    background-color: rgba(109, 115, 74, 0.77);
    padding-top: 30px;
	padding-bottom: 30px;
	z-index: 2;
	
}

/*.............Heading..............*/
.container .logo {
	height: 100px;
	width: 100px;
	margin: 0;
}

h1{
	margin: 0;
	font-family: 'Rancho', cursive;
	font-weight: bold;
    color: #000000;
    font-size: 2.5em;
    display: block;
}

h3 {
  margin: 0.1em;
  color: rgb(194, 194, 101);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 100;
}

hr{
	border: 0; 
	border-top: 1px solid;
	width: 70%;
	color:rgb(231, 16, 57);
	margin-bottom: 20px;
}

/*...............Entry and lists........*/
.entry {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.ul{
	padding-left: 0px;
}
.entry li {
	list-style: none;
	margin: 15px 0;
	font-weight: 700;
}

.itemInput {
	  text-align: center;
  	  margin-left: 30px;
  	  width: 50%;
  	  background-color: rgb(158, 153, 147);
}

.addToList {
	  color: rgb(57, 153, 58);
  	  background-color: rgb(187, 200, 103);
}

.remove {
  background-color: rgba(143, 158, 53, 0.77);
  height: 15px;
  width: 5px;
  vertical-align: bottom;
  font-size: 11px;
  padding: 0px 10px 0px 4px;
  color: rgb(178, 39, 81);
  border: none;
}

