html{
	box-sizing:border-box;
}

body { 
	  background: url("../images/veggies.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  box-sizing: border-box;
	  overflow: hidden;
	  background-repeat: no-repeat;

}

.container {
	margin: 10px auto;
	max-width: 70%;
	min-width: 300px;
	text-align: center;
	border: black 2px solid;
    background-color: rgba(230, 242, 155, 0.77);
    padding-top: 30px;
	padding-bottom: 30px;
	z-index: 2;
	
}

/*.............Heading..............*/
.container .logo {
	height: 100px;
	width: 100px;
	margin: 0;
}

h1{
	margin: 0;
	font-family: 'Rancho', cursive;
	font-weight: bold;
    color: #000000;
    font-size: 2.5em;
    display: block;
}

h3 {
  margin: 0.1em;
  color: rgb(145, 145, 123);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 100;
}

hr{
	border: 0; 
	border-top: 1px solid;
	width: 70%;
	color:rgb(231, 16, 57);
}






